body
{
	color: blue;
	background-image: url(https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_453010393_NeonShapes.jpg);
	background-repeat: no-repeat;
	background-size: cover;
} 